<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>FRIENDTAL</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap" rel="stylesheet">
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

   <!-- Libraries Stylesheet -->
   <link href="./style/animate.min.css" rel="stylesheet">
   <link href="./style/owl.carousel.min.css" rel="stylesheet">

   <!-- Customized Bootstrap Stylesheet -->
   <link href="./style/bootstrap.min.css" rel="stylesheet">

   <!-- Template Stylesheet -->
   <link href="./style/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Navbar Start -->
        <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
            <a href="" id="indexlink" class="navbar-brand d-flex align-items-center text-center py-0 px-4 px-lg-5">
                <h1 class="m-0 text-primary">FRIENDTAL</h1>
            </a>
            <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto p-4 p-lg-0">
                    <a href="" id="indexlink2" class="nav-item nav-link">Home</a>
                    <a href="" id="hulink"class="nav-item nav-link">How to use</a>
                    <div class="nav-item dropdown">
                        <a href="" id="dplink" class="nav-item nav-link active">DATING PLAN</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="" id="ftlink" class="nav-link">Fee & Terms</a>
                 
                        </div>
                    </div>
                    <a href="" id="dslink" class="nav-item nav-link active">DATINGRESERVATION</a>
                <a href="" id="plink">
                    <img class="img-fluid flex-shrink-0 rounded" src="img/membergreen.png" style="width: 70px; height: 70px;">
                  </a>
                  
        </nav>
        <!-- Navbar End -->


        <!-- Header End -->
        <div class="container-xxl py-5 bg-dark page-header mb-5">
            <div class="container my-5 pt-5 pb-4">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Dating Plan</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb text-uppercase">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Dating plan</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- Header End -->


        <!-- Jobs Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Dating plan</h1>
                <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane fade show p-0 active">
                            <div class="job-item p-4 mb-4">
                                <div class="row g-4">
                                    <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid border rounded" src="img/com-logo-1p.png" alt="" style="width: 80px; height: 80px;">
                                        <div class="text-start ps-4">
                                            <h5 class="mb-3">Dating-plan A(amusement park)</h5>
                                                <p class="mb-4"></p>10:30 น. - 11:00 น.: การเดินทางไปยัง สวนสนุก</p>
                                                <p class="mb-4"></p>11:00 น. - 12:00 น.: เดินชมบริเวณต่างๆของลาน activity </p>
                                                <p class="mb-4"></p>11:00 น. - 14:00 น.: เล่นเครื่องเล่นต่างๆ </p>
                                                <p class="mb-4"></p>15:00 น. - 16:00 น.: กินข้าวบ่ายสามารถให้ทางfriendtalของแนะนำหรือจะเลือกสถานที่เองก็ได้</p>
                                                <p class="mb-4"></p>14:00 น. - 15:00 น.: ไปshop ของสวนสนุก ซื้อของต่างๆ </p>
                                            <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>Dream world</span>
                                            <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>10:30 - 15:00 น</span>
                                            <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>4200 bath</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                        <div class="d-flex mb-3">
                                           
                                        </div>
                                        <small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>5 hours</small>
                                    </div>
                                </div>
                            </div>
                            <div class="job-item p-4 mb-4">
                                <div class="row g-4">
                                    <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid border rounded" src="img/com-logo-2p.png" alt="" style="width: 80px; height: 80px;">
                                        <div class="text-start ps-4">
                                            <h5 class="mb-3">Dating-plan B(aquarium)</h5>
                                            <p class="mb-4">10:00 น. - 10:15 น.: นัดหมายเจอกันที่จุดนัดหมาย</p>
                                                 <p class="mb-4"></p>10:30 น. - 11:00 น.: การเดินทางไปยัง aquarium</p>
                                                 <p class="mb-4"></p>11:00 น. - 13:00 น.: เดินชมบริเวณต่างๆของ aquarium</p>
                                                 <p class="mb-4"></p>13:00 น. - 14:00 น.: กินข้าวเที่ยงสามารถให้ทางfriendtalของแนะนำหรือจะเลือกสถานที่เองก็ได้</p>
                                                 <p class="mb-4"></p>14:00 น. - 15:00 น. เดินเที่ยวในสถานที่ต่างๆในยริเวณใกล้เคียง </p>
                                            <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>aquarium</span>
                                            <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>10:00 น. - 15:00 น.</span>
                                            <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>5500 bath</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                        <div class="d-flex mb-3">
                
                                        </div>
                                        <small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>5 hours</small>
                                    </div>
                                </div>
                            </div>
                            <div class="job-item p-4 mb-4">
                                <div class="row g-4">
                                    <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid border rounded" src="img/com-logo-3p.png" alt="" style="width: 80px; height: 80px;">
                                        <div class="text-start ps-4">
                                            <h5 class="mb-3">Dating-plan C(activity)</h5> 
                                            <p class="mb-4">11.00น. - 12:00 น.: นัดหมายเจอกันที่จุดนัดหมาย</p>
                                            <p class="mb-4"></p>12:00 น. - 13:00 น.: การเดินทางไปยัง ลาน activity</p>
                                            <p class="mb-4"></p>13:00 น. - 13:30 น.: เดินชมบริเวณต่างๆของลาน activity </p>
                                            <p class="mb-4"></p>13:30 น. - 15:00 น.: เล่นบอร์ดเกม เเละ laser tag </p>
                                            <p class="mb-4"></p>15:00 น. - 16:00 น.: กินข้าวเย็นสามารถให้ทางfriendtalของแนะนำหรือจะเลือกสถานที่เองก็ได้</p>
                                            <p class="mb-4"></p>16:00 น. - 17:00 น. เดินเที่ยวในสถานที่ต่างๆในยริเวณใกล้เคียง </p>
                                            <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>Gamesmith</span>                                            </span>
                                            <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>10:30 - 17:00 น</span>
                                            <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>5000 bath</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                        <div class="d-flex mb-3">
                                
                                        </div>
                                        <small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>6 hours</small>
                                    </div>
                                </div>
                            </div>
                     
                
                                        </div>
                                    </div>
                                </div>
                            </div>
                                    <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                        <div class="text-start ps-4">
    
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                        <div class="d-flex mb-3">
                                 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                        </div>
                     
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Jobs End -->


        <!-- Footer Start -->
        <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-3 col-md-6">
                        <h5 class="text-white mb-4">FRIENDTAL</h5>
                        <a class="btn btn-link text-white-50" href="">About Us</a>
                        <a class="btn btn-link text-white-50" href="">Contact Us</a>
                        <a class="btn btn-link text-white-50" href="">Our Services</a>
                        <a class="btn btn-link text-white-50" href="">Privacy Policy</a>
                        <a class="btn btn-link text-white-50" href="Fee&Terms.html">Fee & Terms</a>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <h5 class="text-white mb-4">Contact</h5>
                        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>บางมด</p>
                        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>063-169-4800</p>
                        <p class="mb-2"><i class="fa fa-envelope me-3"></i>pichayut@protonmail.com</p>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
            
            <div class="container">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            &copy; <a class="border-bottom" href="#">Friendtal</a>, All Right Reserved. 
							
                        </div>
                        <div class="col-md-6 text-center text-md-end">
                            <div class="footer-menu">
                                <a href="">Home</a>
                                <a href="">Cookies</a>
                                <a href="">Help</a>
                                <a href="">FQAs</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    <script src="js/link.js"></script>
</body>

</html>