<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./style/signup_loginstyle.css">
    <script defer src="js/login.js"></script>
</head>
<body>
    <div class="login-box">
        <h1 class="head">LOGIN</h1>
        <form class="login-form" name="login" >
            <label for="_email">Email</label>
            <input type="email" name="user_email" id="_email"  placeholder="Email" >
            <label for="_password">Password</label>
            <input type="password" name="user_pass" id="_password" placeholder="Password" >
            <div class="remember-forgot"></div>
            <button type="submit">log in</button>       
        </form>
    </div>
    <p class="para-2">Not have an account? <a href="" id="signupLink">Sign Up Here</a></p>
</body>
</html>